<script lang="ts">
  import { onMount } from 'svelte';

  type Todo = {
    id: number,
    task: string,
    done: boolean
  }

  let todos: Todo[] = [];
  let new_task: string = "";

  const getTasks = () => {
    fetch("/todos")
      .then(todo => todo.json())
      .then(result => todos = result)
      .catch(err => console.log("Could not get todos"));
  }

  const createTask = () => {
    fetch("/todos", { 
      method: "POST",
      headers: { "Content-Type" : "application/json" },
      body: JSON.stringify({ task: new_task })
    })
    .then(() => getTasks())
    .catch(err => console.log(`Could not create a new task`));
  }

  const completeTask = (id: number) => {
    fetch(`/todos/${id}`, { method: "PUT" })
      .then(() => console.log(`Completed task ${id}`))
      .then(() => getTasks())
      .catch(err => console.log(`Could not mark task ${id} as completed`));
  }

  const deleteTask = (id: number) => {
    fetch(`/todos/${id}`, { method: "DELETE"})
      .then(() => console.log(`Deleted task ${id}`))
      .then(() => getTasks())
      .catch(err => console.log(`Could not delete task ${id}`));
  }

  onMount(() => getTasks())

</script>

<main>
  {#each todos as todo }
    <div>
      <input bind:checked={todo.done} type="checkbox" 
        on:click={completeTask(todo.id)}>

      <span class:checked={todo.done}>{todo.task}</span>
      <button on:click={deleteTask(todo.id)}>Delete</button>
    </div>
  {/each}

  <form on:submit= {createTask}>
    <input type="text" bind:value={new_task}>
    <input type = "submit" value="Create Todo">
  </form>
</main>

